In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import metapack as mp
from pathlib import Path
from statsmodels.formula.api import ols
import seaborn as sns

%run ./lib.py

In [3]:
df = pd.read_csv('scf16.csv')

df.head().T

,0,1,2,3,4
case_id,1,1,1,1,1
record_id,11,12,13,14,15
implicate_id,1,2,3,4,5
age_1,71,71,71,71,71
age_2,0,0,0,0,0
hisp,5,5,5,5,5
race,white,white,white,white,white
addtional_race,5,5,5,5,5
unusual_income,3,3,3,3,3
ed_1,assoc_vocational,assoc_vocational,assoc_vocational,assoc_vocational,assoc_vocational
ed_2,na,na,na,na,na
ed_mother_1,hs,hs,hs,hs,hs
ed_father_1,some_college,some_college,some_college,some_college,some_college
ed_mother_2,na,na,na,na,na
ed_father_2,na,na,na,na,na
occ_1,0,0,0,0,0
occ_2,0,0,0,0,0
gi_other_value,0,0,0,0,0
fin_risk,-1,-1,-1,-1,-1
shop_credit,1,1,1,1,1
shop_credit_2,-1,-1,-1,-1,-1
fin_know,10,10,10,10,10
borrow_vacation,5,5,5,5,5
plan_horizon,3,3,3,3,3
spend_exceeds,2,2,2,2,2
spend_exceeds_excl_house,0,0,0,0,0
wt0,32135.7,32141.8,32072.4,32142.4,32126.3
gi_type_1,na,na,na,na,na
gi_value_1,0,0,0,0,0
gi_year_1,0,0,0,0,0
...,...,...,...,...,...
ninccat,1,1,1,1,1
ninc2cat,1,1,1,1,1
nincpctlecat,1,1,1,1,1
occat1,3,3,3,3,3
occat2,4,4,4,4,4
edcl,3,3,3,3,3
lifecl,6,6,6,6,6
famstruct,3,3,3,3,3
married,2,2,2,2,2
agecl,5,5,5,5,5
housecl,1,1,1,1,1
racecl,1,1,1,1,1
racecl4,1,1,1,1,1
asset,177100,177200,177100,177100,177200
debt,380,370,370,370,370
indcat,4,4,4,4,4
equity,0,0,0,0,0
homeeq,150000,150000,150000,150000,150000
revpay,9.5,9.25,9.25,9.25,9.25
bnkruplast5,0,0,0,0,0
debt2inc,0.028866,0.0281064,0.0281064,0.0281064,0.0281064
hsaving,0,0,0,0,0
gi_sum,0,0,0,0,0
lt_planner,1,1,1,1,1
n_gift,0,0,0,0,0
n_inherit,0,0,0,0,0
n_trust,0,0,0,0,0
n_transfer,0,0,0,0,0
any_transfer,0,0,0,0,0
any_inherit,0,0,0,0,0